.info-block {
    &__list {
        margin-top: 65px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}

@media screen and (max-width: 992px) {
    .info-block {
        &__list {
            flex-wrap: wrap;
        }
    }
}
