.shop {
    display: grid;
    grid-template-columns: minmax(auto, 300px) 1fr;
    column-gap: 20px;

    &__options {
        display: grid;
        grid-template-columns: auto auto;
        align-items: flex-end;
    }
    &__filters {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
    }
}

@media screen and (max-width: 1440px) {
    .shop {
        &__options {
            grid-template-columns: minmax(auto, 550px);
        }
    }
}

@media screen and (max-width: 576px) {
    .shop {
        justify-content: center;
        align-items: center;
        grid-template-columns: minmax(auto, 300px);

        &__options {
            margin-top: 20px;
        }
    }
}
