@import "./variables.scss";

.button {
    background-color: $mainColor;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    transition: 0.2s all;
    cursor: pointer;

    &:hover {
        color: #ffffff;
        border-radius: 40px;
        box-shadow: 0px 2px 20px 2px rgba(60, 57, 208, 0.3);
    }

    &_clear {
        margin-top: 30px;
        padding: 10px 50px;
        background-color: $subColor;
        &:hover {
            box-shadow: 0px 2px 20px 2px rgba(247, 5, 5, 0.3);
        }
    }

    &_auth {
        margin-top: 30px;
        width: 100%;
        background-color: #000;
        padding: 15px 0;
        font-size: 18px;
        font-weight: 700;
        &:hover {
            box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.3);
        }
    }
}
