@import "./variables.scss";

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-transform: capitalize;
    color: #2b2a2a;
    &_center {
        text-align: center;
    }
    &_big {
        font-size: 46px;
    }
    &_medium {
        font-size: 34px;
    }
    &_semi {
        font-size: 28px;
    }
    &_small {
        font-size: 18px;
    }
}

.subtitle {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;

    color: #2b2a2a;
}

@media screen and (max-width: 370px) {
    .title {
        &_small {
            font-size: 14px;
        }
    }
}
