@import "../../styles/variables.scss";

.modal {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);

    pointer-events: none;
    opacity: 0;

    transition: 0.5s all;

    z-index: 100;

    &_active {
        opacity: 1;
        pointer-events: all;
    }

    &__content {
        padding: 30px 50px;

        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;
        
        border-radius: 10px;
        background: #fff;
        min-height: 50vh;
        transform: scale(0.5);

        transition: 0.5s all;

        &_active {
            transform: scale(1);
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;

        font-size: 20px;
        font-weight: 700;
        color: #9c9b9b;

        cursor: pointer;
    }
}

@media screen and (max-width: 575px) {
    .modal {
        &__grid {
            grid-template-columns: 1fr;
        }

        &__img {
            display: none;
        }
    }
}
