@import "../../styles/variables.scss";

.nav-bar {
    position: relative;

    flex: 2;
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        position: relative;

        font-weight: 500;
        color: #676767;
        text-transform: capitalize;

        transition: 0.5s all ease;

        &::before {
            content: "";

            position: absolute;
            bottom: -29px;
            left: 0;

            width: 0%;
            height: 2px;
            background: $mainColor;
        }

        &:hover {
            &::before {
                content: "";

                position: absolute;
                bottom: -29px;
                left: 0;

                width: 100%;
                height: 2px;
                background: $mainColor;

                transition: 0.5s all ease;
            }
        }

        &_active {
            &::before {
                content: "";

                position: absolute;
                bottom: -29px;
                left: 0;

                width: 100%;
                height: 2px;
                background: $mainColor;

                transition: 0.5s all ease;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .nav-bar {
        flex: 1;
        &__menu {
            display: none;
        }
    }
}
