@import "../../../styles/variables.scss";

.checkout {
    &__wrapper {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 400px;
        column-gap: 40px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__buy-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__total {
        font-size: 32px;
        span {
            font-size: 28px;
            color: $mainColor;
            font-weight: 700;
        }
    }

    &__button {
        margin-top: 15px;
        padding: 15px 54px;
    }
}

@media screen and (max-width: 992px) {
    .checkout {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }
}
