@import "../../styles/variables.scss";

.image-attribute {
    padding: 10px 20px;
    
    position: absolute;
    top: 0;
    right: 0;


    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #ffffff;

    opacity: 0.8;

    border-radius: 10px;
    &_purple {
        background-color: $topColor;
    }
    &_red {
        background-color: $subColor;
    }
    &_yellow {
        color: #000;
        background-color: $latestColor;
    }
}
