@import "../../styles/variables.scss";

.footer {
    margin-top: 70px;
    padding: 50px;

    width: 100%;

    background-color: #ebebed;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, 400px);
        justify-content: space-between;
        row-gap: 50px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-info {
            margin-top: 15px;

            display: grid;
            grid-template-columns: 15px auto;
            column-gap: 10px;
        }

        &-descr {
            display: flex;
            flex-direction: column;

            font-weight: 500;
            font-size: 14px;
            color: #676767;

            span {
                margin-bottom: 5px;

                font-weight: 500;
                font-size: 15px;
                color: #2b2a2a;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #2b2a2a;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__about {
        display: flex;
        flex-direction: column;

        &-descr {
            margin-top: 20px;

            font-weight: 500;
            font-size: 14px;
            color: #2b2a2a;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;

        &-facebook {
            margin-right: 15px;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 35px;
            height: 35px;

            background-color: rgb(49, 49, 174);
            border-radius: 50%;

            cursor: pointer;

            svg {
                color: #fff;
                font-size: 24px;
            }
        }

        &-inst {
            margin-right: 15px;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 35px;
            height: 35px;

            background-color: rgb(170, 59, 187);
            border-radius: 50%;

            cursor: pointer;

            svg {
                color: #fff;
                font-size: 24px;
            }
        }

        &-twitter {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 35px;
            height: 35px;

            background-color: rgb(59, 121, 187);
            border-radius: 50%;

            cursor: pointer;

            svg {
                color: #fff;
                font-size: 24px;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .footer {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }
}
